.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.optionWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 64px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	padding: 0 15%;
}

.canvas-wrapper {
	width: 100%;
	position: relative;
	overflow: scroll;
}

.upper-canvas {
	border: none !important;
}

.lower-canvas {
	border: none !important;
}

.dummy {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.header {
	display: flex;
	align-items: center;
	width: 90%;
	height: 64px;
	padding: 0 5%;
}

.stickerWrapper {
	width: 100%;
	overflow-x: scroll;
	align-items: center;
	padding: 8px;
}

.stickerWrapper img {
	margin-left: 8px;
}

.headerOptionWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.option-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #b0b0b0;
	background-color: inherit;
	border: none;
}

.option-button.selected {
	color: #333333;
}

.button-title {
	margin-top: 8px;
}

.shapeWrapper {
	width: 100%;
	position: absolute;
	height: 69px;
	bottom: 70px;
	left: 0;
	border: 1px solid #f0f0f0;
}

.penWrapper {
	width: 100%;
	position: absolute;
	height: 69px;
	bottom: 70px;
	left: 0;
	border: 1px solid #f0f0f0;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	width: 80%;
	height: 100%;
	border-right: 1px solid #f0f0f0;
}

.penSizeWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 36px;
	width: 80%;
	height: 100%;
	border-right: 1px solid #f0f0f0;
}

.buttonColorPickerWrapper {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shapeButton {
	background-color: inherit;
	border: none;
}

.shapeButton + .shapeButton {
	margin-left: 16px;
}

.colorToggleButton {
	width: 32px;
	height: 32px;
	border: 1px solid #333333;
}

.colorPickerWrapper {
	width: 100%;
	position: absolute;
	bottom: 138px;
	left: 0;
}

.colorWrapper {
	display: flex;
	justify-content: space-between;
	padding: 16px 20px;
}

.colorButton {
	width: 32px;
	height: 32px;
	border-radius: 8px;
}

.colorButton.whiteBorder {
	border: 1px solid #e8e8e8;
}

.colorButton.selected {
	border: 1px solid black;
}

.penSizeButton {
	border-radius: 100%;
	background: #dbdbdb;
}
